.Header {
  display: flex;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 25px;
}

.nav_close {
  padding-bottom: 25px;
  .menu {
    position: absolute;
    top: -500px;
  }

  .menu_toggle {
    background-image: url("/img/Header/Header__Hamb.svg");
    background-repeat: no-repeat;
  }

  .logo_link {
    margin: 0;
    margin-right: auto;
  }
}

.logo {
  display: flex;
  width: 100%;
}

.logo_link {
  margin: 0 auto;
  position: relative;
  width: 62px;
  height: 40px;
  background-image: url("/img/Header/Header__logo.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 52px;
  font-size: 0;
  line-height: 0;

  &:hover {
    opacity: 0.7;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c4c4c4;
  }
}

.menu_toggle {
  position: absolute;
  top: 32px;
  right: 20px;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  width: 17px;
  height: 17px;
  background-image: url("/img/Header/Header__menu.svg");
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 78px;

}

.menu_item {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.menu_link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  padding-bottom: 50px;
  &:hover {
    color: #0dc78f;
  }
}

.promo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.headline {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 39px;
}

.image {
  width: 100%;
  height: 200px;
  background-image: url("/img/Header/Header__bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 19px;
}

.slogan {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #f7f3f2;
  padding-bottom: 26px;
}

.download {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 64px;
}

@media (min-width: 1920px) {
  .Header {
    background-image: url("/img/Header/Header__bg--big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 290px;
  }

  .nav {
    justify-content: space-between;
    margin-bottom: 152px;
    padding-top: 0;
  }

  .logo {
    width: auto;
    margin-top: 30px;
  }

  .menu {
    width: auto;
    padding-top: 15px;
  }

  .menu_item {
    width: auto;
  }

  .menu_link {
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
  }
  .menu_toggle {
    display: none;
  }

  .headline {
    font-weight: bold;
    font-size: 52px;
    line-height: 71px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 33px;
    padding: 0;
  }

  .image {
    display: none;
  }

  .slogan {
    width: 100%;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding-bottom: 90px;
  }

  .download {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    padding: 0;
  }

  .downloadWrapper {
    margin: 0 auto;
  }
}
